:root {
    --company-logo: cursive;
    --font-color: rgb(255 48 48 / 80%);
}

.company_name {
display: flex;
justify-content: center;
align-items: center;
font-size: 1.5rem;
font-weight: bold;
margin-right: auto;
font-family: var(--company-logo);
color: var(--font-color);

}

/* nav-bar */
.navbar-nav {
display: flex;
justify-content: flex-end;
}

.event-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    width: 90%;
    margin: 10rem auto 5rem; /* Center the container horizontally */
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}


.card img {
    width: 20%;
    height: auto;
    border-radius: 8px;
  }

.card-content {
    padding: 30px;
}

.card p {
    text-align: left;
}

.event-time {
    margin-left: 20px;
  }