:root {
  --company-logo: cursive;
  --font-color: rgb(255 48 48 / 80%);
}

/* body {
  background-image: linear-gradient(135deg, #fab2ff 10%, #3629b4 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.company_name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  font-family: var(--company-logo);
  color: var(--font-color);
}

/* nav-bar */
.navbar-nav {
  display: flex;
  justify-content: flex-end;
}

.home-banner {
  max-width: 100%;
  border-radius: 0.5rem;
}

.faded {
  transition: 1s ease;
  opacity: 1;
  padding: 1rem;
}

.faded img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
  opacity: 0.5;
}

/*  card-images for about your choices */
.card {
  width: 10rem;
}

.card-title {
  display: flex;
  justify-content: center;
}

.card-border {
  background: border-box;
  border: 1px solid #c1c1c1;
  border-radius: 0.5rem;
}

.about-your-choices {
  font-size: 1rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
}

#choices-container {
  /* background-color: pink; */
  border-radius: 0.5rem;
  /* overflow: auto; */
  white-space: nowrap;
  position: relative;
  margin: 0.5rem;
}

.category-photo-container {
  gap: 4px;
  overflow-x: scroll;
}

a.btn.btn-primary {
  size: 1rem;
  display: block;
}

/* new elements in selectors */
.add-link {
  display: flex;
  justify-content: center;
}

#chosenCategoryList > a {
  text-decoration: none;
  font-size: 5rem;
}

/* new elements */
.card-img, .card-img-bottom, .card-img-top {
  width: 10rem;
}