:root {
    --company-logo: cursive;
    --font-color: rgb(255 48 48 / 80%);
}

.company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    font-family: var(--company-logo);
    color: var(--font-color);

}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.image-container img {
    max-width: 100%;
}

.grow img {
    transition: 1s ease;
    opacity: 1;
}

.grow img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    opacity: 0.5;
}