:root {
    --company-logo: cursive;
    --font-color: rgb(255 48 48 / 80%);
}

.company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    font-family: var(--company-logo);
    color: var(--font-color);

}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.home-banner {
    max-width: 100%;
    border-radius: 0.5rem;
}

.faded {
    transition: 1s ease;
    opacity: 1;
    padding: 1rem;
}

.faded img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    opacity: 0.5;
}

.about-your-choices {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    font-weight: bold;
}

.category-photo-container {
    width: 22rem;
    height: 20rem;
    padding: 1rem;
}

a.btn.btn-primary {
    size: 1rem;
}

#choices-container {
    height: 10rem;
    background-color: pink;
}