body {
    max-width: 100%;
}

.login-container_primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5rem; */
    /* padding: 5rem; */
}

.login-container_content {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    width: 100%;
    margin: 10rem;
    /* justify-content: space-around; */

}

.login-container_header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.login-header-text {
    font-weight: 800;
    align-items: auto;
}

.login-signup-block {
    /* width: 100% */
    margin-left: auto;
}

.login-signup-button {
    cursor: pointer;
    text-decoration: none;
    color: #3659e3;
}

.login-signup-button:hover {
    text-decoration: underline;
    width: 100%;
}

.email-container_primary {
    /* border: 1px solid #dbdae3;
    border-radius: 2px;
    /* max-width: 100rem; */
    /* padding: 5px; */

}

.div-line-text {
    border: 1px solid #a9a8b3;
    left: 0;
    right: 0;
    margin: 30px auto;
    border-radius: 100px;
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 12px 3px;
    min-width: 20px;
    text-align: center;
    align-items: center;
}

.div-line {
    position: relative;
    display: flex;
    align-items: center;
}

.div-line::before {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    color: #a9a8b3;
    align-items: center;
    border-top: 1px solid black;
  }

.login-button {
    text-transform: uppercase;
    width: 100%;
}



.login-with-google-button {
    text-transform: uppercase;
    width: 100%;
}

.fa-eye {
    /* margin-left: -30px;  */
    cursor: pointer;
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}

/* mobile version */

@media screen and (max-width: 768px) {
  /* CSS styles applied for screens 768px and larger */
  body {
  }

  .login-container_primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    }
}